<footer class="bg-[#222121] text-white pt-12 pb-6">
  <div class="container mx-auto px-6 grid grid-cols-1 md:grid-cols-1 gap-2">
    <div class="logo-g text-center"> <img class="footeer_logo" src="assets/images/logo/1.png" alt="footer_logo"></div>
    <div class=" mx-auto px-6  text-center lg:text-left">
      <h2 class="text-3xl sm:text-4xl text-center font-bold">VOCATION TRAVELS AND TOURS PRIVATE LIMITED</h2>
    </div>
    <!-- Contact Us -->
    <div class="footer_logo text-center">

      <!--      <p class="font-bold mb-4">For Those Who Demand the Extraordinary.<br>-->
      <!--Travel Without Limits , The World Is Your Home.-->
      <!--</p>-->

    </div>
    <!-- Socials -->
    <div class="footer-social-links">
      <ul>
        <li>
          <a href="https://www.facebook.com/share/1ZXsmimYf7/?mibextid=wwXIfr"><i
              class="fa-brands fa-facebook-f"></i></a>
        </li>
        <!--<li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>-->
        <li><a href="https://www.linkedin.com/company/vocationtravels/"><i class="fa-brands fa-linkedin"></i></a></li>
        <!--<li><a href="#"><i class="fa-brands fa-pinterest"></i></a></li>-->
        <li><a href="https://www.instagram.com/vocationtravelsandtours?igsh=aXlxbGxwaHFna2Rt"><i
              class="fa-brands fa-instagram"></i></a></li>
      </ul>
    </div>
    <!-- Global Offices -->
    <hr style="
  width: 5%; 
  height: 3px; 
  border: none; 
  margin: 20px auto; 
  border-radius: 20px; 
  background: linear-gradient(to right, #1ec700, #1ec700, #e11d48);
">
    <div style="margin:20px 0px; text-align:center;">
      <h4 class="font-bold mb-4">OUR OFFICES</h4>
      <!--<h5 class="text-2xl sm:text-4xl text-center font-bold">Dubai, Canada , India</h5>-->
      <ul class="space-y-2">
        <li>Dubai | Canada | India</li>

      </ul>
    </div>
  </div>

  <!-- Brand Name / Big Title -->


  <!-- Copyright & Privacy -->
  <div class="container mx-auto px-6 mt-6 text-center text-sm space-y-1"
    style="border-top: 1px solid #ffffff38; padding: 25px;">
    <p>&copy; 2026 All rights reserved. Vocation Travels And Tours Private Limited
    </p>
  </div>
</footer>